<html>
<head>

    <title>Comente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header>
        <!-- As a link -->
        <nav class="navbar navbar-ligth " style="background-color:#fce07f">
            <span class= "navbar-brand mb-0 h1" style="font-weight: bold">ComenteSobre</span>
        </nav>
    </header>

    <section>
        <div class="container" style="width:60%; padding-bottom: 30px;">

        </div>
    </section>

</body>

</html>